{% extends "base.html" %}
{% block title %} MPA Liste de courses {% endblock %}

{% block content %}
  {% block contenu %}
  <a> nom de la liste : </a> <strong> ListeCoursesRepasNoel</strong> <a> Catégorie : </a> <strong> denrées</strong>

  <table>
      <tr>
          <td><strong>Article</strong></td>
          <td><strong>Catégorie</strong></td>
          <td><strong>Conditionnement</strong></td>
      </tr>

      <tr>
          <td>foie gras</td>
          <td>1</td>
          <td>500g</td>
          <td><img src="{{ url_for('static', filename='images/listes.png') }}" alt="liste"></td>
          <td><img src="{{ url_for('static', filename='images/corbeille.png') }}" alt="corbeille"></td>
          <td><img src="{{ url_for('static', filename='images/crayon.jpeg') }}" alt="crayon"></td>
      </tr>
  </table>
  <img src="{{ url_for('static', filename='images/plus.png') }}" alt="plus">
  <h3>Calcul Prix/(enseigne ou maximum)</h3>
  <img src="{{ url_for('static', filename='images/check.png') }}" alt="check">
  {% endblock %}

{% endblock %}
